@import url("../font/NanumBarunGothic.81201ee3.woff2");
@import url("../font/NanumBarunGothicBold.f27dbbb5.woff2");
@import url("../font/NanumBarunGothicLight.f76db64e.woff2");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 100%;
  color: #333;
}

ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

::after, ::before, a, i, em, b {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #3f3fff;
}

.wrap {
  margin: 0 auto;
  padding: 95px 80px 40px 80px;
}

.hidden {
  display: none;
}

.active_text {
  color: #3f3fff !important;
}

button {
  background: transparent;
  border: 0;
}
button:hover {
  cursor: pointer;
}

/* header - top_menu */
header {
  width: 100%;
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
}
header .header_wrap {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 500;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .header_wrap .header_wrap_left {
  display: flex;
}
header .header_wrap .header_wrap_left h1 {
  margin: 37px 0 0 81px;
  vertical-align: middle;
}
header .header_wrap .header_wrap_left h1 a span.logo {
  width: 55px;
  height: 23px;
  display: inline-block;
  background-image: url(../img/common/sp_logo.png);
  background-position: 0 -35px;
  overflow: hidden;
}
header .header_wrap .header_wrap_left nav {
  display: flex;
  margin: auto 0px;
  transform: translateY(-5px);
}
header .header_wrap .header_wrap_left nav p {
  align-content: center;
  margin: 34px 0 0 34px;
}
header .header_wrap .header_wrap_left nav p:last-child {
  margin-right: 34px;
}
header .header_wrap .header_wrap_left .search_wrap {
  position: relative;
  align-content: center;
  border-radius: 15px;
  border: 1px solid #d2d2d2;
  margin: auto 0;
  padding: 5px 22px;
  transform: translateY(50%);
  -webkit-margin-start: 2px;
          margin-inline-start: 2px;
  -webkit-margin-end: 2px;
          margin-inline-end: 2px;
}
header .header_wrap .header_wrap_left .search_wrap i {
  background-image: url(../img/common/sp_button.png);
  background-position: -242px -632px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 5px;
}
header .header_wrap .header_wrap_left .search_wrap input {
  position: relative;
  width: 130px;
  font-size: 13px;
  border: 0;
  left: 8px;
}
header .header_wrap .header_wrap_right {
  font-family: "NanumBarunGothic", sans-serif;
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  float: right;
  margin-right: 80px;
}
header .header_wrap .header_wrap_right p {
  align-content: center;
  margin: 34px 0 0 34px;
}

/* footer */
footer {
  margin-top: 70px;
  margin-bottom: 110px;
}
footer .footer_wrap {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 400;
  font-weight: 700;
}
footer .footer_wrap .footer_fnb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid #f5f5f5;
}
footer .footer_wrap .footer_fnb nav {
  display: flex;
}
footer .footer_wrap .footer_fnb nav p {
  padding-right: 20px;
}
footer .footer_wrap .footer_fnb .footer_sns_btn {
  display: flex;
}
footer .footer_wrap .footer_fnb .footer_sns_btn p {
  padding-left: 16px;
}
footer .footer_wrap .footer_fnb .footer_sns_btn p img {
  display: inline-block;
  width: 22px;
  height: 18px;
  vertical-align: middle;
}
footer .footer_wrap .footer_company {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 400;
}
footer .footer_wrap .footer_company ul {
  display: flex;
}
footer .footer_wrap .footer_company ul li {
  padding: 0 15px 20px 16px;
  position: relative;
}
footer .footer_wrap .footer_company ul li:first-child {
  padding-left: 0px;
}
footer .footer_wrap .footer_company ul li::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #d8d8d8;
  content: "";
}
footer .footer_wrap .footer_company ul li:first-child::before {
  display: none;
  content: "";
}
footer .footer_wrap .footer_company .footer_address {
  font-family: "NanumBarunGothic", sans-serif;
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 400;
}
footer .footer_wrap .footer_company .footer_address p {
  padding-bottom: 10px;
}
footer .footer_wrap .footer_company .footer_address span {
  padding: 0 8px;
  position: relative;
}
footer .footer_wrap .footer_company .footer_address span:nth-of-type(odd) {
  padding-left: 0px;
}
footer .footer_wrap .footer_company .footer_address span::before {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 1px;
  height: 11px;
  background-color: #d8d8d8;
  content: "";
}
footer .footer_wrap .footer_company .footer_address span:first-child::before {
  display: none;
  content: "";
}
footer .footer_wrap .footer_company .footer_address .addr2 span:nth-of-type(odd)::before {
  display: none;
  content: "";
}
footer .footer_wrap .footer_company .copyright {
  display: flex;
  justify-content: space-between;
}
footer .footer_wrap .footer_company .copyright p {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 11px;
}
footer .footer_wrap .footer_company .copyright p:last-child {
  font-family: "NanumBarunGothic", sans-serif;
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 400;
  font-size: 11px;
}
footer .footer_wrap .footer_company2 {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 400;
}
footer .footer_wrap .footer_company2 ul {
  display: flex;
  justify-content: center;
}
footer .footer_wrap .footer_company2 ul li {
  padding: 0 15px 0 16px;
  position: relative;
}
footer .footer_wrap .footer_company2 ul li:first-child {
  padding-left: 0px;
}
footer .footer_wrap .footer_company2 ul li::before {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #d8d8d8;
  content: "";
}
footer .footer_wrap .footer_company2 ul li:first-child::before {
  display: none;
  content: "";
}
footer .footer_wrap .footer_company2 .copyright2 {
  display: flex;
  justify-content: center;
}
footer .footer_wrap .footer_company2 .copyright2 p {
  font-family: "NanumBarunGothic", sans-serif;
  color: #989898;
  font-size: 14px;
  line-height: 20px;
  font-size: 12px;
}

.player_section {
  width: 100%;
  height: 111px;
  position: relative;
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
}
.player_section .player_wrap {
  padding: 0 80px 40px 80px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.player_section .player_wrap .play_now_info {
  display: flex;
  color: #989898;
  margin-top: 24px;
}
.player_section .player_wrap .play_now_info img {
  border-radius: 4px;
  width: 63px;
  height: 63px;
}
.player_section .player_wrap .play_now_info p {
  font-family: "NanumBarunGothic", sans-serif;
  color: #989898;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
}
.player_section .player_wrap .player_controller .player_controller_top {
  width: 375px;
  margin: 0 auto;
  padding-top: 23px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_repeat {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: 0 -472px;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_prev {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: -513px -45px;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_play {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: -364px -426px;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_next {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: -184px -426px;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_shuffle {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: -513px -135px;
}
.player_section .player_wrap .player_controller .player_controller_progress {
  display: flex;
  align-items: center;
}
.player_section .player_wrap .player_controller .player_controller_progress .time_current {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #a0a0a0;
}
.player_section .player_wrap .player_controller .player_controller_progress input.progress {
  width: 400px;
  height: 6px;
}
.player_section .player_wrap .player_controller .player_controller_progress .time_all {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #646464;
}
.player_section .player_wrap .player_controller .player_controller_right {
  display: block;
}
.player_section .player_wrap .player_controller .player_controller_right .like_list button.btn_like_list {
  background-image: url(../img/common/sp_button.png);
  background-position: -193px -558px;
  width: 31px;
  height: 31px;
}
.player_section .player_wrap .player_controller .player_controller_right .volume .volume_area .btn_volume {
  background-image: url(../img/common/sp_button.png);
  background-position: -445px -558px;
  width: 31px;
  height: 31px;
}
.player_section .player_wrap .player_controller .player_controller_right .open_list .btn_open_list {
  background-image: url(../img/common/sp_button.png);
  background-position: -373px -558px;
  width: 31px;
  height: 31px;
}
@media (max-width: 1024px) {
  header {
    width: 100%;
    height: 115px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
  }
  header .header_wrap {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 500;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  header .header_wrap .header_wrap_left {
    display: flex;
  }
  header .header_wrap .header_wrap_left h1 {
    margin: 37px 0 0 81px;
    vertical-align: middle;
  }
  header .header_wrap .header_wrap_left h1 a span.logo {
    width: 55px;
    height: 23px;
    display: inline-block;
    background-image: url(../img/common/sp_logo.png);
    background-position: 0 -35px;
    overflow: hidden;
  }
  header .header_wrap .header_wrap_left nav {
    display: flex;
    margin: auto 0px;
    transform: translateY(-5px);
  }
  header .header_wrap .header_wrap_left nav p {
    align-content: center;
    margin: 34px 0 0 34px;
  }
  header .header_wrap .header_wrap_left nav p:last-child {
    margin-right: 34px;
  }
  header .header_wrap .header_wrap_left .search_wrap {
    position: relative;
    align-content: center;
    border-radius: 15px;
    border: 1px solid #d2d2d2;
    margin: auto 0;
    padding: 5px 22px;
    transform: translateY(50%);
    -webkit-margin-start: 2px;
            margin-inline-start: 2px;
    -webkit-margin-end: 2px;
            margin-inline-end: 2px;
  }
  header .header_wrap .header_wrap_left .search_wrap i {
    background-image: url(../img/common/sp_button.png);
    background-position: -242px -632px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 5px;
  }
  header .header_wrap .header_wrap_left .search_wrap input {
    position: relative;
    width: 130px;
    font-size: 13px;
    border: 0;
    left: 8px;
  }
  header .header_wrap .header_wrap_right {
    font-family: "NanumBarunGothic", sans-serif;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    float: right;
    margin-left: 60px;
    margin-bottom: 10px;
  }
  header .header_wrap .header_wrap_right p {
    align-content: center;
    margin: 20px;
  }
  footer {
    width: 90%;
    margin-top: 70px;
    margin-bottom: 110px;
  }
  footer .footer_wrap {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 400;
    font-weight: 700;
  }
  footer .footer_wrap .footer_fnb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #f5f5f5;
  }
  footer .footer_wrap .footer_fnb nav {
    display: flex;
  }
  footer .footer_wrap .footer_fnb nav p {
    padding-right: 20px;
  }
  footer .footer_wrap .footer_fnb .footer_sns_btn {
    display: flex;
  }
  footer .footer_wrap .footer_fnb .footer_sns_btn p {
    padding-left: 16px;
  }
  footer .footer_wrap .footer_fnb .footer_sns_btn p img {
    display: inline-block;
    width: 22px;
    height: 18px;
    vertical-align: middle;
  }
  footer .footer_wrap .footer_company {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 400;
  }
  footer .footer_wrap .footer_company ul {
    display: flex;
  }
  footer .footer_wrap .footer_company ul li {
    padding: 0 15px 20px 16px;
    position: relative;
  }
  footer .footer_wrap .footer_company ul li:first-child {
    padding-left: 0px;
  }
  footer .footer_wrap .footer_company ul li::before {
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #d8d8d8;
    content: "";
  }
  footer .footer_wrap .footer_company ul li:first-child::before {
    display: none;
    content: "";
  }
  footer .footer_wrap .footer_company .footer_address {
    font-family: "NanumBarunGothic", sans-serif;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 400;
  }
  footer .footer_wrap .footer_company .footer_address p {
    padding-bottom: 10px;
  }
  footer .footer_wrap .footer_company .footer_address span {
    padding: 0 8px;
    position: relative;
  }
  footer .footer_wrap .footer_company .footer_address span:nth-of-type(odd) {
    padding-left: 0px;
  }
  footer .footer_wrap .footer_company .footer_address span::before {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1px;
    height: 11px;
    background-color: #d8d8d8;
    content: "";
  }
  footer .footer_wrap .footer_company .footer_address span:first-child::before {
    display: none;
    content: "";
  }
  footer .footer_wrap .footer_company .footer_address .addr2 span:nth-of-type(odd)::before {
    display: none;
    content: "";
  }
  footer .footer_wrap .footer_company .copyright {
    display: flex;
    justify-content: space-between;
  }
  footer .footer_wrap .footer_company .copyright p {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 11px;
  }
  footer .footer_wrap .footer_company .copyright p:last-child {
    font-family: "NanumBarunGothic", sans-serif;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 400;
    font-size: 11px;
  }
  footer .footer_wrap .footer_company2 {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 400;
  }
  footer .footer_wrap .footer_company2 ul {
    display: flex;
    justify-content: center;
  }
  footer .footer_wrap .footer_company2 ul li {
    padding: 0 15px 0 16px;
    position: relative;
  }
  footer .footer_wrap .footer_company2 ul li:first-child {
    padding-left: 0px;
  }
  footer .footer_wrap .footer_company2 ul li::before {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #d8d8d8;
    content: "";
  }
  footer .footer_wrap .footer_company2 ul li:first-child::before {
    display: none;
    content: "";
  }
  footer .footer_wrap .footer_company2 .copyright2 {
    display: flex;
    justify-content: center;
  }
  footer .footer_wrap .footer_company2 .copyright2 p {
    font-family: "NanumBarunGothic", sans-serif;
    color: #989898;
    font-size: 14px;
    line-height: 20px;
    font-size: 12px;
  }
}
@media (max-width: 955px) {
  footer {
    width: 90%;
    margin-top: 70px;
    margin-bottom: 110px;
  }
  footer .footer_wrap {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 400;
    font-weight: 700;
  }
  footer .footer_wrap .footer_fnb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #f5f5f5;
  }
  footer .footer_wrap .footer_fnb nav {
    display: flex;
  }
  footer .footer_wrap .footer_fnb nav p {
    padding-right: 20px;
  }
  footer .footer_wrap .footer_fnb .footer_sns_btn {
    display: flex;
  }
  footer .footer_wrap .footer_fnb .footer_sns_btn p {
    padding-left: 16px;
  }
  footer .footer_wrap .footer_fnb .footer_sns_btn p img {
    display: inline-block;
    width: 22px;
    height: 18px;
    vertical-align: middle;
  }
  footer .footer_wrap .footer_company {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 400;
  }
  footer .footer_wrap .footer_company ul {
    display: flex;
  }
  footer .footer_wrap .footer_company ul li {
    padding: 0 15px 20px 16px;
    position: relative;
  }
  footer .footer_wrap .footer_company ul li:first-child {
    padding-left: 0px;
  }
  footer .footer_wrap .footer_company ul li::before {
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #d8d8d8;
    content: "";
  }
  footer .footer_wrap .footer_company ul li:first-child::before {
    display: none;
    content: "";
  }
  footer .footer_wrap .footer_company .footer_address {
    font-family: "NanumBarunGothic", sans-serif;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 400;
  }
  footer .footer_wrap .footer_company .footer_address p {
    padding-bottom: 10px;
  }
  footer .footer_wrap .footer_company .footer_address span {
    padding: 0 8px;
    position: relative;
  }
  footer .footer_wrap .footer_company .footer_address span:nth-of-type(odd) {
    padding-left: 0px;
  }
  footer .footer_wrap .footer_company .footer_address span::before {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1px;
    height: 11px;
    background-color: #d8d8d8;
    content: "";
  }
  footer .footer_wrap .footer_company .footer_address span:first-child::before {
    display: none;
    content: "";
  }
  footer .footer_wrap .footer_company .footer_address .addr2 span:nth-of-type(odd)::before {
    display: none;
    content: "";
  }
  footer .footer_wrap .footer_company .copyright {
    display: flex;
    justify-content: space-between;
  }
  footer .footer_wrap .footer_company .copyright p {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 11px;
  }
  footer .footer_wrap .footer_company .copyright p:last-child {
    font-family: "NanumBarunGothic", sans-serif;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 400;
    font-size: 11px;
  }
  footer .footer_wrap .footer_company2 {
    font-family: "NanumBarunGothic", sans-serif;
    color: #333;
    font-weight: 400;
  }
  footer .footer_wrap .footer_company2 ul {
    display: flex;
    justify-content: center;
  }
  footer .footer_wrap .footer_company2 ul li {
    padding: 0 15px 0 16px;
    position: relative;
  }
  footer .footer_wrap .footer_company2 ul li:first-child {
    padding-left: 0px;
  }
  footer .footer_wrap .footer_company2 ul li::before {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #d8d8d8;
    content: "";
  }
  footer .footer_wrap .footer_company2 ul li:first-child::before {
    display: none;
    content: "";
  }
  footer .footer_wrap .footer_company2 .copyright2 {
    display: flex;
    justify-content: center;
  }
  footer .footer_wrap .footer_company2 .copyright2 p {
    font-family: "NanumBarunGothic", sans-serif;
    color: #989898;
    font-size: 14px;
    line-height: 20px;
    font-size: 12px;
  }
}
.item div img {
  width: 175px;
  height: 175px;
}

.active {
  background-color: #3f3fff !important;
  opacity: 1 !important;
}

main {
  width: 100%;
  font-family: "NanumBarunGothic", sans-serif;
}
main .main_inner {
  position: relative;
  margin: 0 auto;
}
main .main_inner .swiper {
  width: 100%;
  height: 392px;
  margin-top: 20px;
  display: block;
  position: relative;
  box-sizing: content-box;
}
main .main_inner .swiper .swiper_content {
  width: 100%;
  height: 320px;
  background-color: #4c4863;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
main .main_inner .swiper .swiper_content .swiper_content_left {
  cursor: pointer;
  position: relative;
  width: 30%;
}
main .main_inner .swiper .swiper_content .swiper_content_left div {
  position: relative;
  padding: 40px 0 0 40px;
  width: 230px;
  z-index: 4;
}
main .main_inner .swiper .swiper_content .swiper_content_left div h3 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 20px;
  color: #fff;
}
main .main_inner .swiper .swiper_content .swiper_content_left div p {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  position: absolute;
  padding: 0;
  margin: 0;
}
main .main_inner .swiper .swiper_content .swiper_content_left div p span.bar {
  padding: 0 10px;
  font-size: 9px;
  color: #fff;
  opacity: 0.7;
  text-align: center;
}
main .main_inner .swiper .swiper_content .swiper_content_left button {
  z-index: 4;
  background-image: url(../img/common/sp_button.png);
  background-position: -119px -208px;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 40px;
  top: 230px;
  bottom: 40px;
}
main .main_inner .swiper .swiper_content .swiper_content_left button:hover {
  background-position: -60px -208px;
}
main .main_inner .swiper .swiper_content .swiper_content_right {
  width: 69%;
  display: flex;
  float: left;
  padding-left: 35%;
  position: absolute;
  transform: translateY(-110px);
}
main .main_inner .swiper .swiper_content .swiper_content_right ul {
  display: flex;
  flex-direction: column;
  width: 50%;
}
main .main_inner .swiper .swiper_content .swiper_content_right ul li {
  display: flex;
  width: auto;
  padding: 10px 0;
}
main .main_inner .swiper .swiper_content .swiper_content_right ul li img {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  vertical-align: top;
}
main .main_inner .swiper .swiper_content .swiper_content_right ul li div {
  display: flex;
  flex-direction: column;
}
main .main_inner .swiper .swiper_content .swiper_content_right ul li div .swiper_title {
  margin: 5px 0 0 20px;
  width: 210px;
  max-width: 210px;
  font-weight: 400;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
main .main_inner .swiper .swiper_content .swiper_content_right ul li div .swiper_artist {
  margin: 5px 0 0 20px;
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
}
main .main_inner .swiper .swiper_controller {
  width: 100%;
  height: 320px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
}
main .main_inner .swiper .swiper_controller .swiper_btn {
  height: 100%;
  align-content: center;
  width: 55px;
  height: 55px;
}
main .main_inner .swiper .swiper_controller .btn_left {
  left: 0;
  background-image: url(../img/common/sp_button.png);
  background-position: -248px -60px;
  transform: translateX(-55px);
}
main .main_inner .swiper .swiper_controller .btn_left:hover {
  background-position: -248px 0px;
}
main .main_inner .swiper .swiper_controller .btn_right {
  right: 0;
  background-image: url(../img/common/sp_button.png);
  background-position: 0 -208px;
  transform: translate(55px);
}
main .main_inner .swiper .swiper_controller .btn_right:hover {
  background-position: -248px -120px;
}
main .main_inner .swiper .swiper_dot_wrap {
  display: flex;
  width: 100%;
  height: 30px;
  margin-top: 30px;
  justify-content: center;
  padding: 3px 0 10px 15px;
  text-align: center;
}
main .main_inner .swiper .swiper_dot_wrap .swiper_dot {
  margin-right: 10px;
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #333;
  opacity: 0.3;
}
main .main_inner .content_wrap .content {
  padding-top: 60px;
}
main .main_inner .content_wrap .content .content_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main_inner .content_wrap .content .content_title p {
  font-size: 22px;
  font-weight: 700;
}
main .main_inner .content_wrap .content .content_title div {
  display: flex;
  height: 28px;
  align-items: center;
}
main .main_inner .content_wrap .content .content_title div ul {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  margin: auto 0;
}
main .main_inner .content_wrap .content .content_title div ul li {
  padding-right: 10px;
}
main .main_inner .content_wrap .content .content_title div .slide_btn {
  display: flex;
}
main .main_inner .content_wrap .content .content_title div .slide_btn a {
  width: 15px;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;
  position: relative;
}
main .main_inner .content_wrap .content .content_title div .slide_btn a:first-child {
  transform: rotate(180deg);
}
main .main_inner .content_wrap .content .content_title div .slide_btn a object {
  pointer-events: none;
  position: block;
  width: 100%;
  height: 100%;
}
main .main_inner .content_wrap .content .content_title2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main .main_inner .content_wrap .content .content_title2 p {
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0;
}
main .main_inner .content_wrap .content .content_title2 p:last-child {
  font-size: 13px;
  font-weight: 400;
}
main .main_inner .content_wrap .content .content_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main .main_inner .content_wrap .content .content_item .content_sub1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  flex-wrap: wrap;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item {
  margin-top: 20px;
  margin-right: 20px;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item:hover {
  cursor: pointer;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .content1_img_wrap {
  position: relative;
  cursor: pointer;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .content1_img_wrap img {
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .content1_img_wrap span.dark_cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .content1_img_wrap span.dark_cover:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .content1_img_wrap button.item_play {
  position: absolute;
  bottom: 0;
  right: 0;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .content1_img_wrap button.item_play:hover svg path {
  fill: #3f3fff;
  stroke: #3f3fff;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .item_title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #333;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .item_title:hover {
  color: #3f3fff;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .item_desc {
  margin: 5px 3px 0;
  font-size: 13px;
  color: #969696;
}
main .main_inner .content_wrap .content .content_item .content_sub1 .item .item_desc:hover {
  color: #3f3fff;
}
main .main_inner .content_wrap .content .content_item .content_sub2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item {
  margin-top: 20px;
  margin-right: 20px;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .content2_img_wrap {
  position: relative;
  cursor: pointer;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .content2_img_wrap img {
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .content2_img_wrap img.img_svg {
  width: 68px;
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .content2_img_wrap span.dark_cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .content2_img_wrap span.dark_cover:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .content2_img_wrap button.item_play {
  position: absolute;
  bottom: 0;
  right: 0;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .content2_img_wrap button.item_play:hover svg path {
  fill: #3f3fff;
  stroke: #3f3fff;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .item_title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #333;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .item_title:hover {
  color: #3f3fff;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .item_desc {
  margin: 5px 3px 0;
  font-size: 13px;
  color: #969696;
}
main .main_inner .content_wrap .content .content_item .content_sub2 .item .item_desc:hover {
  color: #3f3fff;
}
main .main_inner .content_wrap .section_content_wrap {
  padding-top: 60px;
  width: 100%;
  height: 172px;
}
main .main_inner .content_wrap .section_content_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

@media (max-width: 1024px) {
  main {
    max-width: 1024px;
    min-width: 768px;
    width: 100%;
  }
  main .main_inner .content_wrap {
    width: 100%;
  }
  main .main_inner .content_wrap .content {
    width: 100%;
    overflow: hidden;
  }
  main .main_inner .content_wrap .content .content_item .content_sub1 {
    flex-wrap: wrap;
  }
  main .main_inner .content_wrap .content .content_item .content_sub2 {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main copy.css.map */