@import url(http://www.openhiun.com/hangul/nanumbarungothic.css);
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 100%;
  color: #333;
}

ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

::after, ::before, a, i, em, b {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #3f3fff;
}

.wrap {
  width: 955px;
  margin: 0 auto;
  padding: 95px 80px 40px 80px;
}

.hidden {
  display: none;
}

.active_text {
  color: #3f3fff !important;
}

button {
  background: transparent;
  border: 0;
}
button:hover {
  cursor: pointer;
}

/* header - top_menu */
header {
  width: 100%;
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
  display: flex;
}
header .header_wrap {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 500;
  position: relative;
  min-width: 955px;
  max-width: 1600px;
  width: 100%;
}
header .header_wrap .header_wrap_left {
  display: flex;
}
header .header_wrap .header_wrap_left h1 {
  margin: 37px 0 0 81px;
  vertical-align: middle;
}
header .header_wrap .header_wrap_left h1 a span.logo {
  width: 55px;
  height: 23px;
  display: inline-block;
  background-image: url(../img/common/sp_logo.png);
  background-position: 0 -35px;
  overflow: hidden;
}
header .header_wrap .header_wrap_left nav {
  display: flex;
  margin: auto 0px;
  transform: translateY(-5px);
}
header .header_wrap .header_wrap_left nav p {
  align-content: center;
  margin: 34px 0 0 34px;
}
header .header_wrap .header_wrap_left nav p:last-child {
  margin-right: 34px;
}
header .header_wrap .header_wrap_left .search_wrap {
  position: relative;
  align-content: center;
  border-radius: 15px;
  border: 1px solid #d2d2d2;
  margin: auto 0;
  padding: 5px 22px;
  transform: translateY(50%);
  -webkit-margin-start: 2px;
          margin-inline-start: 2px;
  -webkit-margin-end: 2px;
          margin-inline-end: 2px;
}
header .header_wrap .header_wrap_left .search_wrap i {
  background-image: url(../img/common/sp_button.png);
  background-position: -242px -632px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 5px;
}
header .header_wrap .header_wrap_left .search_wrap input {
  position: relative;
  width: 130px;
  font-size: 13px;
  border: 0;
  left: 8px;
}
header .header_wrap .header_wrap_right {
  font-family: "NanumBarunGothic", sans-serif;
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  float: right;
  margin: -61px 81px 0 0;
}
header .header_wrap .header_wrap_right p {
  align-content: center;
  margin: 34px 0 0 34px;
}

/* footer */
footer {
  margin-top: 70px;
  margin-bottom: 110px;
}
footer .footer_wrap {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 400;
  font-weight: 700;
}
footer .footer_wrap .footer_fnb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid #f5f5f5;
}
footer .footer_wrap .footer_fnb nav {
  display: flex;
}
footer .footer_wrap .footer_fnb nav p {
  padding-right: 20px;
}
footer .footer_wrap .footer_fnb .footer_sns_btn {
  display: flex;
}
footer .footer_wrap .footer_fnb .footer_sns_btn p {
  padding-left: 16px;
}
footer .footer_wrap .footer_fnb .footer_sns_btn p img {
  display: inline-block;
  width: 22px;
  height: 18px;
  vertical-align: middle;
}
footer .footer_wrap .footer_company {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 400;
}
footer .footer_wrap .footer_company ul {
  display: flex;
}
footer .footer_wrap .footer_company ul li {
  padding: 0 15px 20px 16px;
  position: relative;
}
footer .footer_wrap .footer_company ul li:first-child {
  padding-left: 0px;
}
footer .footer_wrap .footer_company ul li::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #d8d8d8;
  content: "";
}
footer .footer_wrap .footer_company ul li:first-child::before {
  display: none;
  content: "";
}
footer .footer_wrap .footer_company .footer_address {
  font-family: "NanumBarunGothic", sans-serif;
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 400;
}
footer .footer_wrap .footer_company .footer_address p {
  padding-bottom: 10px;
}
footer .footer_wrap .footer_company .footer_address span {
  padding: 0 8px;
  position: relative;
}
footer .footer_wrap .footer_company .footer_address span:nth-of-type(odd) {
  padding-left: 0px;
}
footer .footer_wrap .footer_company .footer_address span::before {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 1px;
  height: 11px;
  background-color: #d8d8d8;
  content: "";
}
footer .footer_wrap .footer_company .footer_address span:first-child::before {
  display: none;
  content: "";
}
footer .footer_wrap .footer_company .footer_address .addr2 span:nth-of-type(odd)::before {
  display: none;
  content: "";
}
footer .footer_wrap .footer_company .copyright {
  display: flex;
  justify-content: space-between;
}
footer .footer_wrap .footer_company .copyright p {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 11px;
}
footer .footer_wrap .footer_company .copyright p:last-child {
  font-family: "NanumBarunGothic", sans-serif;
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 400;
  font-size: 11px;
}
footer .footer_wrap .footer_company2 {
  font-family: "NanumBarunGothic", sans-serif;
  color: #333;
  font-weight: 400;
}
footer .footer_wrap .footer_company2 ul {
  display: flex;
  justify-content: center;
}
footer .footer_wrap .footer_company2 ul li {
  padding: 0 15px 0 16px;
  position: relative;
}
footer .footer_wrap .footer_company2 ul li:first-child {
  padding-left: 0px;
}
footer .footer_wrap .footer_company2 ul li::before {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #d8d8d8;
  content: "";
}
footer .footer_wrap .footer_company2 ul li:first-child::before {
  display: none;
  content: "";
}
footer .footer_wrap .footer_company2 .copyright2 {
  display: flex;
  justify-content: center;
}
footer .footer_wrap .footer_company2 .copyright2 p {
  font-family: "NanumBarunGothic", sans-serif;
  color: #989898;
  font-size: 14px;
  line-height: 20px;
  font-size: 12px;
}

.player_section {
  width: 100%;
  height: 111px;
  position: relative;
  min-width: 955px;
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
}
.player_section .player_wrap {
  min-width: 955px;
  max-width: 1600px;
  padding: 0 80px 40px 80px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.player_section .player_wrap .play_now_info {
  display: flex;
  color: #989898;
  margin-top: 24px;
}
.player_section .player_wrap .play_now_info img {
  border-radius: 4px;
  width: 63px;
  height: 63px;
}
.player_section .player_wrap .play_now_info p {
  font-family: "NanumBarunGothic", sans-serif;
  color: #989898;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
}
.player_section .player_wrap .player_controller .player_controller_top {
  width: 375px;
  margin: 0 auto;
  padding-top: 23px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_repeat {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: 0 -472px;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_prev {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: -513px -45px;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_play {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: -364px -426px;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_next {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: -184px -426px;
}
.player_section .player_wrap .player_controller .player_controller_top .btn_player_shuffle {
  width: 40px;
  height: 40px;
  background-image: url(../img/common/sp_button.png);
  background-position: -513px -135px;
}
.player_section .player_wrap .player_controller .player_controller_progress {
  display: flex;
  align-items: center;
}
.player_section .player_wrap .player_controller .player_controller_progress .time_current {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #a0a0a0;
}
.player_section .player_wrap .player_controller .player_controller_progress input.progress {
  width: 400px;
  height: 6px;
}
.player_section .player_wrap .player_controller .player_controller_progress .time_all {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #646464;
}
.player_section .player_wrap .player_controller .player_controller_right {
  display: block;
}
.player_section .player_wrap .player_controller .player_controller_right .like_list button.btn_like_list {
  background-image: url(../img/common/sp_button.png);
  background-position: -193px -558px;
  width: 31px;
  height: 31px;
}
.player_section .player_wrap .player_controller .player_controller_right .volume .volume_area .btn_volume {
  background-image: url(../img/common/sp_button.png);
  background-position: -445px -558px;
  width: 31px;
  height: 31px;
}
.player_section .player_wrap .player_controller .player_controller_right .open_list .btn_open_list {
  background-image: url(../img/common/sp_button.png);
  background-position: -373px -558px;
  width: 31px;
  height: 31px;
}
@media (max-width: 1055px) {
  header {
    width: 100%;
  }
  header .header_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header .header_wrap_right {
    margin: 0px;
    padding: 0px;
  }
}
.hidden {
  display: none;
}

.main_wrap {
  max-width: 1600px;
  min-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}
.main_wrap .main_tab {
  margin-top: 2px;
  overflow: hidden;
  position: relative;
}
.main_wrap .main_tab::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #eee;
  content: "";
}
.main_wrap .main_tab ul {
  display: flex;
  position: relative;
  width: auto;
}
.main_wrap .main_tab ul li {
  width: auto;
  display: block;
  position: relative;
  min-height: 40px;
  padding: 11px 7px;
  font-size: 15px;
  box-sizing: border-box;
  line-height: 1.2;
  text-align: center;
  border-radius: 0;
  padding-right: 14px;
}
.main_wrap .main_tab ul li.active {
  color: #3f3fff;
}
.main_wrap .main_tab ul li.active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #3f3fff;
}
.main_wrap .main_tab ul li.like a {
  text-align: center;
  display: flex;
}
.main_wrap .main_tab ul li.like a::before {
  content: "";
  background-image: url(../img/common/sp_button.png);
  background-position: -697px -482px;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.main_wrap .main_tab ul li.like a:hover::before {
  content: "";
  background-image: url(../img/common/sp_button.png);
  background-position: -697px -503px;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.main_wrap .btn_edit {
  width: 100%;
  float: right;
  padding-right: 15px;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
}
.main_wrap .content_list {
  padding-top: 60px;
  width: 100%;
}
.main_wrap .content_list ul {
  cursor: pointer;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.main_wrap .content_list ul li {
  width: 49%;
  display: flex;
  margin-top: 27px;
}
.main_wrap .content_list ul li .list_cover {
  flex-direction: row;
  position: relative;
}
.main_wrap .content_list ul li .list_cover img {
  width: 175px;
  height: 175px;
  position: relative;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f8f9fa;
}
.main_wrap .content_list ul li .list_cover span.dark_cover {
  width: 175px;
  height: 175px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
}
.main_wrap .content_list ul li .list_cover span.dark_cover:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.main_wrap .content_list ul li .list_cover span.new_list {
  position: relative;
  display: inline-block;
  width: 175px;
  height: 175px;
  vertical-align: top;
  background-color: #f6f6f6;
  border-radius: 10px;
}
.main_wrap .content_list ul li .list_cover span.new_list .plus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin: auto;
  background-image: url(../img/common/sp_button.png);
  background-position: -225px -472px;
  width: 40px;
  height: 40px;
  color: transparent;
  text-indent: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
.main_wrap .content_list ul li .list_cover span.new_list span.dark_cover2 {
  width: 175px;
  height: 175px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
}
.main_wrap .content_list ul li .list_cover span.new_list span.dark_cover2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.main_wrap .content_list ul li .new_list_txt {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  margin: auto 0px;
}
.main_wrap .content_list ul li .new_list_txt a {
  color: #3f3fff;
}
.main_wrap .content_list ul li .list_info {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main_wrap .content_list ul li .list_info p {
  margin: 0;
  padding: 0;
}
.main_wrap .content_list ul li .list_info p:nth-of-type(1) {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 700;
}
.main_wrap .content_list ul li .list_info p:nth-of-type(2) {
  position: relative;
  display: inline;
  padding: 15px 4px 0 0;
  font-size: 13px;
}
.main_wrap .content_list ul li .list_info p:nth-of-type(3) {
  display: block;
  padding: 7px 0 0 0;
  clear: both;
  color: #969696;
  position: relative;
  font-size: 13px;
}
.main_wrap .content_list ul li .list_info div {
  clear: both;
  position: absolute;
  bottom: 32px;
}
.main_wrap .content_list ul li .list_info div button {
  background-image: url(../img/common/sp_button.png);
  background-position: -196px -663px;
  width: 23px;
  height: 23px;
  color: transparent;
  text-indent: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}/*# sourceMappingURL=sub2.css.map */